
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

body {
    padding-top: 60px;  
}

/* Logo */
.top-bar .logo {
    font-size: 20px;
    font-weight: bold;
}


.top-bar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.top-bar nav ul li {
    margin-right: 20px;
}

.top-bar nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.top-bar nav ul li a:hover {
    text-decoration: underline;
}
