body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow-x: hidden;
    
  }

  html {
    scroll-behavior: smooth;
  }
  
  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300%;
    overflow: hidden;
    filter: blur(150px);
    z-index: 0;
    transform: translateY(0px);
    transition: transform 0.1s linear;
  }
  
  .gradient {
    position: absolute;
    border-radius: 100%;
    opacity: 0.6;
    mix-blend-mode: screen;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
  }
  
  .gradient-1 {
    background: rgb(255, 17, 0);
    width: 700px;
    height: 700px;
    animation-duration: 11s;
    left: 60%;
    top: 40%;
    z-index: -2;
    animation-name: animation-gradient-1;
  }
  
  .gradient-2 {
    background: rgb(0, 30, 255);
    width: 600px;
    height: 600px;
    animation-duration: 11s;
    left: 40%;
    top: 60%;
    z-index: -1;
    animation-name: animation-gradient-2;
  }
  
  .gradient-3 {
    background: rgb(0, 0, 255);
    width: 500px;
    height: 500px;
    animation-duration: 11s;
    left: 50%;
    top: 50%;
    z-index: -3;
    animation-name: animation-gradient-3;
  }
  
  @keyframes animation-gradient-1 {
    0% { transform: translate(-50%, -50%) rotate(-20deg) translateX(20%); }
    25% { transform: translate(-50%, -50%) skew(-15deg, -15deg) rotate(80deg) translateX(30%); }
    50% { transform: translate(-50%, -50%) rotate(180deg) translateX(25%); }
    75% { transform: translate(-50%, -50%) skew(15deg, 15deg) rotate(240deg) translateX(15%); }
    100% { transform: translate(-50%, -50%) rotate(340deg) translateX(20%); }
  }
  @keyframes animation-gradient-2 {
    0% { transform: translate(-50%, -50%) rotate(40deg) translateX(-20%); }
    25% { transform: translate(-50%, -50%) skew(15deg, 15deg) rotate(110deg) translateX(-5%); }
    50% { transform: translate(-50%, -50%) rotate(210deg) translateX(-35%); }
    75% { transform: translate(-50%, -50%) skew(-15deg, -15deg) rotate(300deg) translateX(-10%); }
    100% { transform: translate(-50%, -50%) rotate(400deg) translateX(-20%); }
  }
  @keyframes animation-gradient-3 {
    0% { transform: translate(-50%, -50%) translateX(-15%) translateY(10%); }
    20% { transform: translate(-50%, -50%) translateX(20%) translateY(-30%); }
    40% { transform: translate(-50%, -50%) translateX(-25%) translateY(-15%); }
    60% { transform: translate(-50%, -50%) translateX(30%) translateY(20%); }
    80% { transform: translate(-50%, -50%) translateX(5%) translateY(35%); }
    100% { transform: translate(-50%, -50%) translateX(-15%) translateY(10%); }
  }
  
  .content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding-top: 100px;
    font-family: system-ui, sans-serif;
  }
  
  .aboutme {
    margin-left: 40px;
    margin-right: 40px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 10px;
  }

  .aboutme:hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    transition: all 1.3s ease-in-out;
  }

  .abouttext{
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
  }
  

  .hello{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    top: -50px;
    position: relative;
  }
  .highlighted-name {
    color: #4facfe; 
    text-shadow: 0 0 10px rgb(0, 119, 255);
  }

  .highlighted-name:hover{
    color: #fff; 
    transition: all 0.3s ease-in-out;
  }

  .hello2{
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    top: -60px;
    position: relative;
  }

  .navbar a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    position: relative;
  }
  .navbar a:hover{
    color: #4facfe; 
    transition: all 0.3s ease-in-out;
  }

  .navbar{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    position: relative;
    top: -80px;
  }

    .projects{
      margin-left: 40px;
      margin-right: 40px;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 20px;
      border:1px solid rgba(255, 255, 255, 0.18);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      height: 500px;
      padding: 30px;
      flex-direction: column;
      
    }

    .projects:hover {
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border-radius: 20px;
      border:1px solid rgba(255, 255, 255, 0.18);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      transition: all .3s ease-in-out;
    }

    .project-content {
        text-align: center;
        padding: 30px;
        word-wrap: break-word;
        
      }

      .project-image {
        width: 100%;
        height: 300px; /* Or any height you want */
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      

    .project-image img{
        max-width: 100%;  
        max-height: 100%;     
        object-fit: contain; 
        border-radius: 20px;
    }

    @media screen and (max-width: 768px) {
      .projects {
        margin-left: 20px;
        margin-right: 20px;
        padding: 20px;
      }
    
      .project-content {
        padding: 20px;
      }
    }

    .swiper{
        padding: none;
      

    }

    .project-description {
        font-size: 16px;
        color: #ffffff;
        object-fit: contain; 

      }

    .skills{
      margin-left: 40px;
      margin-right: 40px;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 20px;
      border:1px solid rgba(255, 255, 255, 0.18);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      padding: 10px;
    }

    .skills:hover {
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border-radius: 20px;
      border:1px solid rgba(255, 255, 255, 0.18);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      transition: all .3s ease-in-out;
    }

    .blog{
      margin-left: 40px;
      margin-right: 40px;
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 20px;
      border:1px solid rgba(255, 255, 255, 0.18);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    }

    .blog:hover {
      background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border-radius: 20px;
      border:1px solid rgba(255, 255, 255, 0.18);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      transition: all .3s ease-in-out;
    }

    ul {
      list-style-position: inside; 
      text-align: center;
      padding: 0; 
    }

    @-webkit-keyframes pulsate-fwd {
      0% {
        -webkit-transform: scale(1);
                transform: scale(1);
      }
      50% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
      }
      100% {
        -webkit-transform: scale(1);
                transform: scale(1);
      }
    }
    @keyframes pulsate-fwd {
      0% {
        -webkit-transform: scale(1);
                transform: scale(1);
      }
      50% {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
      }
      100% {
        -webkit-transform: scale(1);
                transform: scale(1);
      }
    }

    .social a:hover {
      -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
              animation: pulsate-fwd 0.5s ease-in-out infinite both;
    }

    .tools a:hover{
      -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
              animation: pulsate-fwd 0.5s ease-in-out infinite both;
    }

    .tools{
      text-decoration: none;
    }

    .part:hover{
      color: #4facfe; 
    transition: all 0.3s ease-in-out;
    }

    .readmore{
      text-decoration: none;
      color:#4facfe
    }

    .blognav{
      text-decoration: none;
    }

    .projectlink{
      border-radius: 50%;
      border-color: #000;
      background-color:#fff;
      padding: 5px;
    }

    .projectlink a{
      text-decoration: none;

    }

    .tools {
      display: flex;
      align-items: center;
      justify-content: center; /* center horizontally */
      margin-bottom: 10px; /* space between items */
      padding: 0px;
    }
    
    .tools img {
      margin-right: 10px; /* space between icon and text */
    }
    
    .tooldes {
      margin: 0; /* remove default margin of <p> */
    }
    
    /* Container for centering all items */
    .tools-container {
      display: flex;
      justify-content: center; /* center items horizontally */
      flex-wrap: wrap; /* allow items to wrap on smaller screens */
      gap: 20px; /* space between each tool item */
    }
    


    